.details__chart {
  width: 55rem;

  // positioning

  bottom: 12rem;
  right: 2rem;
  color: $color-black;
  padding: 5rem 6rem 3rem 6rem;

  &__top {
    margin-bottom: 4rem;
    &.chart__col {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &--bar {
    width: 15rem;
    height: 15rem;
    background: $color-white;
    border: 4rem solid rgba($color-black, 0.1);
    border-top-color: $color-black;
    border-left-color: $color-black;
    border-radius: 50%;
    transform: rotate(-70deg);
    margin-right: 3rem;
    transition: 0.4s;
  }

  &:hover &--bar {
    transform: rotate(calc(-70deg + -360deg));
  }

  &__meta {
    width: calc(
      100% - 15rem - 3rem - 3rem
    ); // 15rem bar width; 3rem margin-right from bar
    // 3rem extra
  }

  &__meta > * {
    width: 100%;
  }

  &--title {
    font-size: 3rem;
    line-height: 3rem;
    @include font(7);

    &--sub {
      font-size: 2rem;
      margin-bottom: 2rem;
      opacity: 0.5;
    }
  }

  &__meta > .divider {
    opacity: 0.3;
    margin-bottom: 2rem;
  }

  &--total {
    font-size: 3rem;
    @include font(7);
  }

  &__table {
    position: relative;

    &::after {
      content: "";
      user-select: none;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 5rem;
      width: 100%;
      background: linear-gradient(
        to top,
        $color-white 0%,
        rgba($color-white, 0.4) 50%,
        rgba($color-white, 0) 93.23%
      );
      z-index: 1;
    }

    &__row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1.5rem;

      &:first-child {
        font-size: 1.8rem;
        color: rgba($color-black, 0.6);
      }
    }

    &__row > &--col:nth-child(1) {
      text-align: left;
    }

    &__row > &--col:nth-child(2) {
      text-align: center;
    }

    &__row > &--col:nth-child(3) {
      text-align: right;
    }

    &--col {
      width: initial;
      text-align: left;
      min-width: 12rem;
    }
  }
}
